<h3>Change Password</h3>
<% if (error && error.length > 0) { %>
    <div class="alert alert-danger"><%= error %></div>
<% } %>

<% if (success && success.length > 0) { %>
    <div class="alert alert-success"><%= success %></div>
<% } %>

<form action="/admin/change-password" method="POST" class="form-change-password">
    <!-- Mật khẩu hiện tại -->
    <label for="currentPassword"><b>Current Password</b></label>
    <input type="password" placeholder="Enter Current Password" name="currentPassword" required>

    <!-- Mật khẩu mới -->
    <label for="newPassword"><b>New Password</b></label>
    <input type="password" placeholder="Enter New Password" name="newPassword" required>

    <!-- Xác nhận mật khẩu mới -->
    <label for="confirmPassword"><b>Confirm New Password</b></label>
    <input type="password" placeholder="Confirm New Password" name="confirmPassword" required>

    <div class="button-container">
        <input type="submit" value="Change Password" class="btn">
    </div>
    <a href="/admin" class="btn_back"><i class="fa-solid fa-backward"></i> BACK</a>
</form>
