<header class="header">
    <nav class="nav">
        <nav class="nav_left">
            <a href="/admin">HOME</a>
            <a href="/admin/post">BLOG</a>
            <a href="/Contact">CONTACT</a>
            <a href="/admin/dashboard">DASHBOARD</a>
            <a href="/admin/settings">SETTING</a>
        </nav>
        <nav class="nav_right">
            <div class="dropdown">
                <% if (username) { %>
                    <a href="javascript:void(0)" class="dropdown-toggle"><%= username %></a>
                <% } %>
                <div class="dropdown-content">
                    <a href="/admin/change-password">Đổi mật khẩu</a>
                    <a href="/admin/profile">Profile</a>
                    <a href="/admin/login">Logout</a>
                </div>
            </div>
        </nav>
        

    </nav>
    <div class="banner-container">
        <img src="/images/banner_img.png" alt="">
        <div class="text-overlay">
            <h1>Welcome to <span data-text="Blog web">Blog</span></h1>
            <h3>Web developer and content creator.</h3>
        
            <div class="social-media">
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-github"></i></a>
            </div>

        </div>
    </div>
</header>
<script>
    // Lắng nghe sự kiện click vào phần tử .dropdown-toggle
document.querySelector('.dropdown-toggle').addEventListener('click', function(event) {
    // Ngừng sự kiện click truyền lên (prevent propagation)
    event.stopPropagation();
    
    // Tìm phần tử dropdown-content
    var dropdownContent = document.querySelector('.dropdown-content');
    
    // Kiểm tra nếu dropdown đang mở hay đóng và thay đổi trạng thái
    if (dropdownContent.style.display === 'block') {
        dropdownContent.style.display = 'none';  // Đóng dropdown
    } else {
        dropdownContent.style.display = 'block';  // Mở dropdown
    }
});

// Đảm bảo khi người dùng click ngoài dropdown thì dropdown sẽ đóng
document.addEventListener('click', function(event) {
    var dropdownContent = document.querySelector('.dropdown-content');
    if (!dropdownContent.contains(event.target) && !event.target.matches('.dropdown-toggle')) {
        dropdownContent.style.display = 'none';  // Đóng dropdown khi click ngoài
    }
});


</script>