<header class="header">
    <nav class="nav">
        <nav class="left">
            <a href="/">HOME</a>
            <a href="/contact">CONTACT</a>
        </nav>
    </nav>
    <div class="banner-container">
        <img src="/images/banner_img.png" alt="">
        <div class="text-overlay">
            <h1>Welcome to <span data-text="Blog web">Blog</span></h1>
            <h3>Web developer and content creator.</h3>
        
            <div class="social-media">
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-github"></i></a>
            </div>

        </div>
    </div>
</header>

